@charset "UTF-8";

@font-face {
  font-family: "Songhei";
  src: url("Songhei.woff2") format("woff2"),
       url("Songhei.woff") format("woff"),
       url("Songhei.ttf") format("truetype"),
       url("Songhei.eot") format("embedded-opentype"),
       url("Songhei.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}